body{
	text-align: center;
	background-color: #162521;
}
.container-Set{
	background-color: #8B95C9;
	text-align: center;
}
.bg-Color1{
	background-color: #9EEFE5;
}
.btn-Color{
	background-color: #CB904D;
}
.alert-Col{
	background-color: #C0E0DE;
}